* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }


  /*****************************************
  * wrapper-nav
  ******************************************/
  #wrapper-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  .navbar-brand {
    font-weight: 800;
    font-size: 2rem !important;
  }
  .navbar-nav{transition: 0.4s; transform: translateY(0%);}
  #wrapper-nav .navbar-nav a {
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    color: #111;
    margin: 0 1rem;
  }
  #wrapper-nav .navbar-nav a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  }
  #wrapper-nav .navbar-nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navbar.nav-sticky{
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgb(28 47 80 / 8%);
    padding: 1rem 0;
    z-index: 999;
    transform: translateY(0%);
    transition: 0.4s;
  }
  #wrapper-nav .btn {
    background: #D35400;
    width: 200px;
    border: 0px;
    color: #fff !important;
    box-shadow: 0px 3px 10px 0px rgb(28 47 80 / 8%);
  }


  /*****************************************
  * wrapper-slide
  ******************************************/
  #wrapper-slide h1 {
    position: relative;
    font-weight: 800;
    font-size: 4rem;
    padding: 6rem 0 2rem;
    text-align: center;
    z-index: -1;
  }
  #wrapper-slide p {
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    color: rgba(38,39,41,0.7);
  }
  .shape-content {
    position: absolute;
    top: 20%;
    left: 15%;
    max-width: 200px;
    z-index: -9999 !important;
  }
  .shape-content-1 {
    position: absolute;
    display: block;
    left: 60%;
    top: 85%;
    z-index: -1;
  }
  .hero-image {
    z-index: -1;
  }

  /*****************************************
  * About
  ******************************************/
  #about {
    background: #A9CCE3;
  }
  #about h5 {
    font-weight: 700;
    color: #D35400;
  }
  #about h2 {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about p {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(38, 39, 41, 0.7);
  }

  #about .btn-abt {
    background: #D35400;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    width: 150px;
    min-height: 50px;
    line-height: 35px;
    box-shadow: 0px 3px 10px 0px rgb(28 47 80 / 8%);
  }

  /*****************************************
  * Services
  ******************************************/
  #services h5 {
    font-weight: 700;
    color: #D35400;
  }
  #services h2 {
    font-weight: 800;
    font-size: 3.5rem;
  }
  #services .btn-svc {
    background: #D35400;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    width: 200px;
    min-height: 50px;
    line-height: 35px;
    box-shadow: 0px 3px 10px 0px rgb(28 47 80 / 8%);
  }
  #services p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-transform: capitalize !important;
    color: rgba(38, 39, 41, 0.7);
  }
  .service-widget {
    background: #F3F4F6;
    padding: 2.5rem 3rem 2.5rem;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  .service-widget h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }

/*****************************************
  * Info
******************************************/

#infos{
  background: #A9CCE3;
  padding-top: 0px !important;
}
#infos img{
  width: 100px;
}
#infos span {
  font-weight: 700;
  font-size: 4rem;
  margin-left: 2rem;
  border-bottom: 5px solid #D35400;
}
#infos p {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}


/*****************************************
  * BannerDev
******************************************/
  #bannerdev {
    background: url('images/felix.png') center center no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
    margin-bottom: 4rem;
  }

   /*****************************************
  * Portfolio
  ******************************************/
  #portfolio {
    background: #F3F4F6;
  }
  #portfolio h2 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .filter-button {
    font-weight: 600 !important;
    font-size: 1.4rem;
    border: 1px solid #d3540075 !important;
    text-align: center;
    margin: 1rem;
  }
  .filter-button:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
  .filter-button:hover {
    font-size: 1rem;
    border: 1px solid #D35400;
    text-align: center;
    color: #ffffff !important;
    background-color: #D35400;
  }
  .btn-default:active .filter-button:active {
    background-color: #D35400;
    color: #fff !important;
  }
  .portfolio {
    margin-bottom: 30px;
  }

/*****************************************
  * Contact
******************************************/
  #wrapper-contact {
    background: #F3F4F6;
  }
  #wrapper-contact h1 {
    position: relative;
    font-weight: 800;
    font-size: 4rem;
    padding: 6rem 0 2rem;
    text-align: center;
  }

  #wrap-contact h4 {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  #wrap-contact .info-box {
    padding: 1.5rem 1.8rem;
    background-color: #efefef;
    border-radius: 10px;
    border: 1px solid #e9e9e9fa;
  }
  #wrap-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #wrap-contact span {
    font-size: 1.5rem;
    color: #F3F4F6;
  }
  #wrap-contact h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  #wrapper-contact p {
    font-size: 1rem;
    margin-top: 1rem;
    color: #979797;
    line-height: 30px;
  }
  #wrap-contact .form-control, 
  #wrap-contact .form-select {
    min-height: 60px;
    width: 100%;
    background: #efefef;
    border: none;
    padding: 1rem 1.25rem;
  }
  #wrap-contact h2{
    font-weight: 700;
    font-size: 2rem;
  }
  #wrap-contact h6 {
    background-color: rgba(254, 124, 84, 0.1);
    width: 200px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 20px;
  }
  #wrap-contact .form-btn {
    background-color: #D35400;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    color: #fff !important;
    border: 1px solid;
    border-color: #D35400;
    box-shadow: 0 0 1.25rem rgb(30 34 40 / 4%);
    transition: all 0.4s ease-in-out;
  }
  


  /*****************************************
  * footer
  ******************************************/
  #footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .footer-top {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .footer-top .logo-buttom {
    font-weight: 800;
    font-size: 2rem !important;
    color: #111;
  }
  .footer-top ul {
    list-style: none;
    padding: 0;
    float: right !important;
  }
  .footer-top ul li {
    display: inline-block;
    margin: 0 1.4rem 0 0;
  }
  .footer-top ul li > a {
    font-weight: 500;
    color: #111;
  }
  .footer-bottom p {
    font-weight: 500;
    margin-top: 2rem;
  }
  .footer-bottom ul {
    list-style: none;
    padding: 0;
    float: right !important;
  }
  .footer-bottom ul li {
    display: inline-block;
    margin: 1.4rem 1.4rem 0 0;
  }
  .footer-bottom .icon {
    font-size: 2rem;
    color: #111 !important;
  }




  /**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* WordPress Media Queries */
@media (max-width: 600.98px) {
	#wrapper-slide .shape-content-1 img {
		display: none !important;
	}
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}
@media (min-width: 601px) and (max-width: 782.98px) {
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}
@media (min-width: 783px) {
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #wrapper-slide .shape-content-1 img {
		display: none !important;
	}
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #about .btn-abt {
    margin-bottom: 4rem !important;
  }
  #about .widget-info {
    margin-top: 2rem;
  }
  #services .btn-svc {
    margin-bottom: 3rem;
  }
  #footer {
    text-align: center !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
  